*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blue {
  background-color: #040429;
}
.red {
  background: #ad0101;
}

.aboutNav {
  color: black;
  background-color: #ad0101;
}
.apropos {
  height: 291px;
  background-image: url("../assets/images/confor1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #040429;
  opacity: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apropos > h2 {
  color: #ad0101;
  font-weight: bolder;
}
.secondabout {
  height: 400px;
  background: #d9d9d9;
  border-radius: 20px;
}
.apropofirst {
  margin-top: 34px;
}
.apropofirst > div > div > div > h2 {
  color: #040429;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}
.apropofirst > div > div > div > div > p {
  font-size: 24px;
  line-height: 160%;
  text-align: justify;
  margin-right: 30px;
}

/* Icons */
.apropos_icons {
  background-color: #040429;
  width: 236px;
  display: flex;
  color: white;
}
.apropos_icons > div > img {
  margin-left: 36px;
}
.apropos_icons > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apropos_icons > div > p {
  margin-left: 10px;
  font-size: 20px;
}
.iconsapropos {
  display: flex;
  justify-content: space-between;
  margin: 39px 0px;
}
.iconsapropos .apropos_icons,
.iconsapropos .apropos_red {
  margin-left: 10px;
}
.apropos_red {
  background-color: #ad0101;
  width: 236px;
  display: flex;
  color: white;
}
.vision {
  background: #e0e0e0;
}
.vvm > img {
  margin-top: 50px;
  width: 74px;
  height: 74px;
  margin-bottom: 35px;
}
.vvm > p {
  font-size: 18px;
}
.vvm {
  text-align: center;
}
.vvm > h2 {
  color: #040429;
  font-weight: 800;
  font-size: 40px;
  font-weight: bolder;
}
.vvm > p {
  margin-bottom: 18px;
}
.derniere {
  margin-top: 30px;
  color: #fff;
  padding-bottom: 20px;
  height: 300px;
  margin-bottom: 50px;
}
.derniere > img {
  margin-top: 28px;
  margin-left: 81px;
  margin-bottom: 20px;
}
.derniere > h2 {
  font-size: 24px;
  margin-left: 81px;
  font-weight: bolder;
  text-transform: uppercase;
}
.derniere > p {
  font-size: 18px;
  line-height: 105%;
  text-align: justify;
  margin: 18px 81px;
}

/* Projet */
.projet {
  height: 291px;
  background-image: linear-gradient(to bottom, #040429, #0008),
    url("../assets/images/im.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.projetentete > p {
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  color: white;
  text-align: justify;
}
.projetentete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projetentete > h2 {
  color: #ad0101;
  font-weight: 800;
  font-size: 48px;
  line-height: 96%;
  text-transform: uppercase;
}
.pillier > h2 {
  margin-top: 60px;
  font-weight: 800;
  font-size: 30px;
  line-height: 96%;
  margin-bottom: 53px;
  text-align: center;
  color: #040429;
}

.projetvalid {
  width: calc(100% / 5);

  margin-left: 5px;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}
.entete > p {
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 10px;
}
.validfoot {
  padding: 10px;
  color: white;
  text-align: justify;
}
.tiquette {
  display: flex;
  margin-bottom: 48px;
}

/* service */
.firstdiv {
  height: 60vh;
  margin-bottom: 30px;
  position: relative;
}
.laqualite {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  left: 130px;
  right: 130px;
}
.laqualite > h2 {
  font-weight: bolder;
}
.serviceemma {
  height: 55vh;
  background-image: linear-gradient(to bottom, #000000, rgba(84, 80, 80, 0.533)),
    url("../assets/images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;

}

.cardservice > div > div,
.servicelitterature, .serviceemma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceemma > div > h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 96%;
  text-transform: uppercase;
  font-weight: bolder;
  color: #ad0101;
  text-align: center;
}
.serviceemma > div > p {
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  margin-top: 40px;
  font-weight: bolder;
  text-align: center;
}
.cardservice {
  height: 250px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardservice > div .textservice {
  width: 200px;
  margin-top: 20px;
  text-align: center;
  color: #040429;
  font-weight: 800;
  font-size: 16px;
  line-height: 105%;
}
.servicelitterature {
  width: 100vw;
  margin-top: 20px;
  background: #212146;
  padding: 60px 0px;
}
.servicelitterature > div > h2 {
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
  color: #ad0101;
}
.servicelitterature > div > p {
  font-size: 24px;
  line-height: 170%;
  margin-top: 26px;
  text-align: justify;
  width: 1200px;
  color: #ffffff;
}
.servicelitterature > div .lien > button {
  background-color: #ad0101;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: wheat;
}
.ceintureservice {
  height: 5px;
  background-color: red;
  width: 100vw;
}

/* Voir plus */
.voirplus {
  background-image: url("../assets/images/Rectangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 551px;
}
.voirplus > div > div > div {
  height: 550px;
  position: relative;
}
.voirplus > div > div > div > h2 {
  position: absolute;
  bottom: 100px;
  font-size: 45px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.plusceinture {
  display: flex;
  height: 20px;
}
.plusceinture > div {
  height: 6px;
  width: 100vw;
}
.voirpluscard {
  background: #ad0101;
  border-radius: 20px;
  min-height: 400px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.voirpluscard > div > img {
  height: 80px;
  width: 80px;
  padding: auto auto;
  margin: auto auto;
}
.voirpluscard > div > h3 {
  font-weight: 800;
  font-size: 25px;
  line-height: 118%;
  text-align: center;
  color: #f1ebeb;
  margin: 30px 10px;
}
.voirpluscard > div > p {
  font-weight: 300;
  font-size: 20px;
  line-height: 158%;
  text-align: justify;
  padding: 5px 20px;
  color: #ffffff;
}
